/* hero banner */
.banner {
    background-image: url("../images/beach.jpg");
    padding: 50px 0 100px 50px;
    margin: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}


/* ========== contact section ========== */
.contactSection {
    margin: 50px 0;
    background-color: orangered;
    padding: 75px 20px;
    color: white;
}

.contactSection div.leftSide p {
    word-wrap: break-word;
}



/* leftSide */
.leftSide .mapImage {
    background-image: url("../images/furniture.jpg");
    height: 250px;
}

.leftSide h3 {
    transform: translateX(-15px);
}

.leftSide p {
    margin-bottom: 0;
}

/* righSide */
.rightSide img,
.flexAligment img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
}

.rightSide div.flexAligment {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

/* ==== social Media contact section */
.socialMediaSection {
    margin: 50px;
}

.socialMediaSection div.flexAligment {
    display: flex;
    justify-content: space-around;
}

.socialMediaSection h2 {
    text-align: center;
    margin: 20px 0;
}

/* ==== video display section ===*/
.video-section {
    margin: 50px 0;
}

.video-section div.row {
    align-items: center;
}

.video-section h2{
    margin: 20px 0;
}

.video-section video,
.video-section img,
.video-section iframe {
    height: auto;
    width: 100%;
}


/* =========== end note section =========== */
.endNoteSection {
    text-align: center;
    margin-bottom: 50px;
}

.endNoteSection p:first-of-type {
    text-decoration: underline;
    color: orangered;
}

.endNoteSection p span {
    color: orangered;
    font-weight: bold;
}

.endNoteSection .resumeBtn {
    border: 1px solid orangered;
    color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.endNoteSection .resumeBtn:hover {
    background-color: orangered;
    border: 1px solid transparent;
    color: white
}


/* ==== carousel multi items slider ===== */
#muliCarousel {
    margin: 20px 0;
}

#muliCarousel .carousel-inner .carousel-item img {
max-height: 200px;
}

#muliCarousel .carousel-inner .carousel-item.active,
#muliCarousel .carousel-inner .carousel-item-next,
#muliCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

#muliCarousel .carousel-inner .carousel-item-right.active,
#muliCarousel .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
}

#muliCarousel .carousel-inner .carousel-item-left.active,
#muliCarousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
}

#muliCarousel .carousel-inner .carousel-item-right,
#muliCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0)!important;
}


/* === custom tool tip ==== */
.tooltip-inner {
    background-color: #34af95 !important;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #34af95 !important;
}

/* === Media Queries ==== */
@media only screen and (max-width: 768px) {
    .contactSection h3 {
        display: none;
    }

    .leftSide p {
        text-align: center;
        margin: 50px 0;
    }

    .rightSide img {
        height: 30px;
        width: 30px;
    }

    .rightSide div.col-4 {
        text-align: center;
    }

    #muliCarousel .carousel-inner .carousel-item-right.active,
    #muliCarousel .carousel-inner .carousel-item-next {
        transform: translateX(50%) !important;
    }

    #muliCarousel .carousel-inner .carousel-item-left.active,
    #muliCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-50%) !important
    }

    #muliCarousel .carousel-inner .carousel-item-right,
    #muliCarousel .carousel-inner .carousel-item-left {
        transform: translateX(0) !important;
    }

}