.section {
    width: 80%;
    display: block;
    margin: 0 auto;
    outline: 1px solid red;
    margin-top: 15px;
    height: 200px;
    background-color: gray;
    color: white;
}

.different {
    background-color: green;
    outline: 5px dashed blue;
}

.bigger-size {
    font-size: 30px;
    color: green;
}

h5 {
    color: red;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.text-background {
    background-color: #f18973;
}

.furniture-image {
    background-image: url("../images/furniture.jpg");
}

.cupcake-image {
    background-image: url("../images/cupcake.jpg");
}

.panda-image {
    background-image: url("../images/panda.jpg");
}

.fruit-image {
    background-image: url("../images/fruit.jpg");
}

.hide {
    display: none;
}

.highightText {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
}

/* positioning example */