.section {
    width: 80%;
    display: block;
    margin: 0 auto;
    outline: 1px solid red;
    margin-top: 15px;
    height: 200px;
    background-color: gray;
    color: white;
}

.different {
    background-color: green;
    outline: 5px dashed blue;
}

.bigger-size {
    font-size: 30px;
    color: green;
}

h5 {
    color: red;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.text-background {
    background-color: #f18973;
}

.furniture-image {
    background-image: url("../images/furniture.jpg");
}

.cupcake-image {
    background-image: url("../images/cupcake.jpg");
}

.panda-image {
    background-image: url("../images/panda.jpg");
}

.fruit-image {
    background-image: url("../images/fruit.jpg");
}

.hide {
    display: none;
}

.highightText {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
}



/* positioning example */
.fixed {
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: red;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.relative {
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
}

.absolute {
    right: 30px;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
    position: absolute;
}

/* Bootstrap grid example */
div#goToPage {
    text-align: center;
    padding: 20px 0;
    height:100px;
}

div.firstDiv {
    height: 200px;
    background-color: chartreuse;
}

div.secondDiv {
    height: 200px;
    background-color: pink;
}

div.thirdDiv {
    height: 200px;
    background-color: blue;
}

/* BS GRID + ALIGMENT EXERCISE */
.height100 {
    height: 100px;
    background-color: lightpink;
    margin: 20px 0;
}

.height200 div {
    height: 50px;
    background-color: lightskyblue;
}

.container-fluid .height100 div {
    height: 50px;
    background-color: lightgreen;
    border: 1px solid gray;
}

.flex-display {
    display: flex;
    background-color: lightsalmon;
    height:150px;
    padding: 0 20px;
}

.flex-display p {
    margin: 0;
}

