#firstDiv {
    width: 100%;
    height: 300px;
    background-image: url('../images/camping.jpeg');
}

#secondDiv {
    width: 100%;
    height: 300px;
    background-image: url('../images/huskies.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#secondDiv span {
    background-color: pink;
    font-size: 75px;
}

#thirdDiv {
    width: 100%;
    height: 300px;
    background: url('../images/macarons.jpeg') no-repeat center / cover;
}

#fourthDiv {
    width: 100%;
    height: 300px;
    background-image: url('../images/wave.jpg');
    background-size: contain;
}

#fourthDiv h1 {
    background-color: orange;
    font-size: 60px;
    margin:0
}

#fourthDiv p {
    color:white;
    font-size: 40px;
}


span {
    color:white;
    background-color: green;
    font-size: 40px;
}
