#firstbox {
    width: 200px;
    height: 200px;
    background: #D1ECFF;
    border: dashed;
    padding: 5px;
}

#secondbox {
    width: 300px;
    height: 200px;
    background: pink;
    border: ridge;
    padding: 10px;
    margin-top: 20px;
    
}

.hover-state:hover {
    color: white;
    background-color: blue;
    border: 2px solid aqua;
}