/**
 * Float Layout Activity
 **/
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: Roboto, sans-serif;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    font-family: "Roboto Slab", sans-serif;
    padding: 10px;
    padding-bottom: 150px;
}

section {
    margin-bottom: 20px;
    clear: both;
}

#sidebar {
    background: #eee;
    height: 300px;
    padding: 20px;
    width: 20%;
    float: left;
}

#largeContent {
    width: 80%;
    height: 300px;
    background-color: #6ea3da;
    width:80%;
    float:left;
    color: white;
    padding: 20px;
}

#left {
    width: 30%;
    padding: 10px;
    height: 400px;
    color: #fff;
    background: #666;
    float: left;
}

#middle {
    width: 30%;
    padding: 10px;
    background: #888;
    float: left;
}

#right {
    padding: 10px;
    background: #666;
    height: 400px;
    color: white;
}

footer {
    padding: 10px;
    background: #ccc;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 150px;
    left: 0;
}
