body {
    background-color: white;
    /* background-image: url("../images/huskies.jpg"); */
    background-size: cover;
}

.circleImage {
    border-radius: 50%;
    border-width: 13px;
    border-color: orange;
    border-style: dotted;
}


/* pseudo class exercise */
a.tesla-link {
    color: green;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
    text-decoration: underline;
}

a.tesla-link:visited {
    color: red;
    text-decoration: underline;
}

a.tesla-link:hover {
    background-color: green;
    color: white;
    text-decoration: none;
}

a.tesla-link:active {
    background-color: red;
    color: white;
    border: solid 5px #34af95;
}

/* ============== BS components components customization ============== */

/* description section */
.customDescriptionSection {
    margin-top: 30px;
}

.avataCol {
    display: flex;
}

.biotTxt {
    text-align: center;
}

.biotTxt p:first-child {
    font-weight: bold;
    color: orange;
    font-size: 25px;
}

.biotTxt p:nth-child(2) {
    letter-spacing: 5px;
    font-weight: lighter;
}

.biotTxtp p.descptionText {
    letter-spacing: 2px;
}

.biotTxt p:nth-child(2) span {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
}

.biotTxt p:nth-child(2) span:first-child {
    color: orange;
    font-weight: bold;
    font-size: 40px;
}

/* project gallery section */
.projectGallerySection{
    padding: 30px 0;
}

.projectGallerySection div.card {
    margin-bottom: 30px;
}

.projectGallerySection img.card-img-top {
    height: 200px;
    width: 100%;
}

a.btn.projectCardBtn {
    background-color: orange;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
}

a.btn.projectCardBtn:hover {
    background-color: transparent;
    border: 1px solid orange;
    color: orange
}

.projectGallerySection .card-title {
    color:#34af95;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Project Carousels */
.customProjectCarousel a span:first-child i {
    color: #34af95;
    font-size: 40px;
}

.customProjectCarousel a span:first-child i:hover {
    color: orange;
}