body {
    background-color: white;
    background-image: url("../images/huskies.jpg");
    background-size: cover;
}

.pStyle {
    color: green;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#heading {
    color: turquoise;
}

.circleImage {
    border-radius: 50%;
    border-width: 13px;
    border-color: red;
    border-style: dotted;
}

#firstbox {
    width: 200px;
    height: 200px;
    background-color: #D1ECFF;
    border: dashed;
    padding: 5px;
}

#secondbox {
    width: 300px;
    height: 200px;
    background-color: pink;
    padding: 10px;
    margin-top: 20px;
}
