.myResume {
    border: 2px dotted  #34af95;
    padding: 20px 50px!important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.topRow {
    align-items: center;
    margin-bottom: 20px;
}

.topRow img.profileAvata {
    width: 100%;
    height: auto;
}

/* name title section */
div.nameTitle {
    padding-left: 50px;
}

div.nameTitle h1 {
    font-size: 75px;
    font-weight: lighter;
}

div.nameTitle h5 {
    font-weight: bold;
    text-transform: uppercase;
    color: #34af95;
}

/* contact info section */
.contactRow {
    margin-top: 40px;
}

.contactInfo p {
    text-transform: uppercase;
    color:  #34af95;
}


.contactInfo span {
    text-transform: capitalize;
    color: black;   
}


.contactInfo a {
    color: black;
    text-decoration: underline;
}


.contactInfo div.email a:hover, 
.socialMediaContact a:hover {
    color: #34af95;
}

.socialMediaContact i {
    color: #34af95;
    font-size: 20px;
    margin-right: 20px;
}

.socialMediaContact a {
    color: black;
}

/* box border */
.intro, .hobbies, .projects, .experience, .education, .bottomRow {
    border: 1px solid #34af95;
    padding: 20px;
    margin-top: 30px;
}

/* middle row + bottom row */

.middleRow h3, .bottomRow h3 {
    color: #34af95;
    font-weight: 400;
    text-transform: uppercase;
}

.middleRow div.divider {
    border-bottom: 1px solid #34af95;
    transform: translate(-20px, 0);
    margin-bottom: 25px;
    width: 50%;
}

/* hobbies */
.hobbies div.row {
    text-align: center;
}

.hobbies img {
    margin-bottom: 10px;
}

.hobbies p {
    font-weight: 200;
}

/* project */
.projects h5{
    font-style: italic;
    margin-bottom: 15px;
}
.projects ul {
    padding-left: 20px; 
}

.projects li, .experience li {
    color:  #34af95;
}

.projects li > p, .experience li > p {
    color: black;  
}

/* experience */
.experience h6 {
    color: #34af95;
}
.experience h5 > span {
    color: black;
    font-weight: lighter;
    font-style: italic;
}
.experience li > p {
    margin-bottom: 5px;
}

.experience hr {
    height: 0.5px;
    background-color: lightgray;
    border-width:0;
    margin: 20px 0;
}

/* education */
.education h5 {
    color: #34af95;
    font-weight: bold;
}

.education p:nth-of-type(2) {
    color: #34af95;
    font-style: italic;
    font-weight: 300;
}

.education p > i {
    font-weight: lighter;
}

/* bottom row */
.bottomRow {
    margin: 30px 1px 15px 1px!important;
}

.bottomRow div.divider {
    border-bottom: 1px solid #34af95;
    margin-bottom: 25px;
    width: 50%;
}

.softSkill div.divider {
    transform: translateX(-35px);
}

.softSkill li {
    margin-bottom: 20px;
}

.softSkill ul {
    padding-left: 20px; 
}

.techSkill ul {
    padding-left: 0; 
}

.techSkill li {
    list-style-type: none;
    margin-bottom: 20px;
}

.techSkill i.fa-circle {
    font-size: 10px;
    letter-spacing: 10px;
    color: lightgray
}

.techSkill i.fa-circle.solid {
    color: #34af95;
}

.techSkill div.progress {
    transform: translateY(7px);
}

.techSkill div.progress > div.progress-bar {
    background-color: #34af95;
}

/* Media Queries */
@media (max-width: 768px) {
    .myResume {
        border-width: 0px;
    }

    .techSkill i.fa-circle {
        letter-spacing: 0px;
    }

}
