.customNav {
    background-color: #34af95;
}

.customNav li.nav-item.active {
    font-size: 20px;
    text-decoration: underline;
}

.customNav li.nav-item.active a {
    color: white!important;
}

.customNav li.nav-item.active a:hover{
    color: red!important;
}

.customNav li.nav-item a:hover {
    color: yellow!important;
}
